/*------ TABLET ------*/
@media (max-width: 952px) {
    .header__list li a,
    .header__actions a{
        font-size: 14px;
    }

    .hero__content .hero__title {
        font-size: 3rem;
    }

    .hero__content .hero__text {
        font-size: 1.2rem;
    }

    .hero__content .hero__button {
        font-size: 1rem;
    }

    #about-us .about-us__title {
        font-size: 1.5rem;
    }

    #about-us .about-us__text {
        font-size: 1.2rem;
    }

    .cursos__info .cursos__title {
        font-size: 2rem;
    }

    .cursos__info .cursos__text {
        font-size: 1.2rem;
    }

    #contact .contact__title {
        font-size: 2rem;
    }

    .contact__info .contact__info__left {
        display: none;
    }

    form {
        margin: auto;
    }

    input[type="submit"] {
        margin: auto;
    }

    .contenedor-acordeon .contenedor-header h2{
        font-size: 2rem;
    }

    .footer__info .footer__items h3 {
        font-size: 16px;
    }


    .footer__info .footer__items .footer__list a {
        font-size: 14px;
    }

    .contenedor-acordeon .acordeon label {
        font-size: 1rem;
    }

    .contenedor-acordeon .contenido-acordeon p {
        font-size: 14px;
    }
}

/*------ CELULAR ------*/
@media (max-width: 858px) {

    .header__nav .header__list {
        position: absolute;
        top: 85px;
        left: 5%;
        right: 20%;
        flex-direction: column;
        align-items: center;
        background-color: #14161f;
        width: 90%;
        height: 250px;
        border-radius: 0px 0px 15px 15px;
        border: 2px solid #ff8906;
        border-top: none;
    }


    header .menu_label {
        display: flex;
        cursor: pointer;
    }

    .header__nav .header__list,
    .header__actions a {
        display: none;
    }

    .header__actions {
        position: absolute;
        top: 85px;
    }

    header .user {
        display: flex;
    }

    header .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #menu-hamburguesa:checked ~ .header__list {
        display: flex;
    }

    .cards__item {
        width: 100%;
        margin: 10px 0;
    }

    .hero__content .hero__title {
        font-size: 1.5rem;
    }

    .hero__content .hero__text {
        font-size: 1rem;
        width: 90%;
    }

    #about-us .about-us__title {
        font-size: 1.5rem;
        width: 80%;
    }

    #about-us .about-us__text {
        font-size: 1rem;
    }

    .cards__item {
        flex: 1 1 100%; /* Alinea las cards en una columna */
      }
    
      .cards__title {
        font-size: 1.2rem; /* Tamaño de fuente más pequeño para móviles */
      }
    
      .cards__header i {
        font-size: 1.5rem; /* Reducir el tamaño del icono */
      }

    #contact .contact__title {
        font-size: 1.5rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      height: 50px;
      font-size: 1rem; 
    }

    .contenedor-acordeon .contenedor-header h2 {
        font-size: 1.5rem;
    }

    .contenedor-acordeon .contenedor-header p {
        font-size: 1rem;
    }
}